/*
    CSS for dedicated project pages.
*/
.bruiloft {
    background-image: none;
    background-color: white;

    img.featured {
        margin: 0 auto;
    }

    img.inline {
        display: inline;
        margin-bottom: -0.5em;
    }

    i {
        margin-right: 0.3em;
    }

    @media (min-width: 59rem) {
        .container {
            max-width: 60rem;
            margin: 0 auto;
        }
        .container > * {
            max-width: 100%;
        }
    }

    @media (max-width: 59rem) {
        font-size: 1em;
        
        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.2em;
        }

        .container {
            max-width: 90%;
            margin: 0 auto;
        }
        .container > * {
            max-width: 100%;
        }
    }
}