<!-- Optional additional links to insert for icons links -->

<a
  id="send-email"
  class="icon"
  title="Send Email"
  aria-label="Send Email"
  href="http://www.jiscmail.ac.uk/ISBARCH"
>
  {% include svg/email.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Twitter"
  aria-label="Twitter"
  href="https://twitter.com/ISBArchaeology"
>
  {% include svg/twitter.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Mastodon"
  aria-label="Mastodon"
  href="https://archaeo.social/@ISBArchaeology"
>
  {% include svg/mastodon.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Instagram"
  aria-label="Instagram"
  href="https://www.instagram.com/isba.rchaeology/"
>
  {% include svg/instagram.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Bluesky"
  aria-label="Bluesky"
  href="https://bsky.app/profile/isbarchaeology.bsky.social"
>
  {% include svg/bluesky.svg %}
</a>
