{% comment %}
  Separate partial for Google Webfont include, so we can override with
  different fonts as applicable.
{% endcomment %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Archivo+Black&family=Bungee&family=Fira+Sans+Extra+Condensed:wght@100;300;400;500;700&family=Fredoka:wght@300;500;700&family=Heebo:wght@100;400;700&family=Inter&family=Nunito:ital,wght@0,300;0,700;0,800;1,400&family=Passion+One:wght@400;700&family=Rubik:wght@300;400;500&family=Titan+One&display=swap" />
