<h2>Highlights</h2>
<a href="/category/publications.html">Full list of publications.</a>
<article class="post-body">
<img src="/assets/img/publications/gravomg/gravomg.png" class="post-featured">
<h3 class="post-title"><a href="/gravomg">A Fast Geometric Multigrid Method for Curved Surfaces</a></h3>
Published at SIGGRAPH 2023.
</article>
<hr/>
<article class="post-body">
<img src="/assets/img/publications/deltaconv/deltaconv.png" class="post-featured">
<h3 class="post-title"><a href="/deltaconv">DeltaConv: Anisotropic Operators for Geometric Deep Learning on Point Clouds</a></h3>
Published in Transactions on Graphics (SIGGRAPH 2022).
</article>
<article class="post-body">
<img src="/assets/img/publications/hsn_abstract.jpg" class="post-featured">
<h3 class="post-title"><a href="/hsn">CNNs on Surfaces using Rotation-Equivariant Features</a></h3>
Published in Transactions on Graphics (SIGGRAPH 2020).
</article>