<h2>Highlights</h2>
<a href="/category/publications.html">Full list of publications.</a>
<hr/>
<article class="post-body">
<img src="/assets/img/publications/deltaconv_feature.png" class="post-featured">
<h3 class="post-title"><a href="/deltaconv">DeltaConv: Anisotropic Operators for Geometric Deep Learning on Point Clouds</a></h3>
Accepted for publication at SIGGRAPH 2022.
</article>
<article class="post-body">
<img src="/assets/img/publications/dvpd_feature.png" class="post-featured">
<h3 class="post-title"><a href="/publications/2022/03/06/Deep-Vanishing-Point-Detection.html">Deep Vanishing Point Detection: Geometric priors make dataset variations vanish</a></h3>
Accepted for publication at CVPR 2022.
</article>
<article class="post-body">
<img src="/assets/img/publications/hsn_abstract.jpg" class="post-featured">
<h3 class="post-title"><a href="/hsn">CNNs on Surfaces using Rotation-Equivariant Features</a></h3>
Published in Transactions on Graphics and presented at SIGGRAPH 2020.
</article>