<h2>Highlights</h2>
<a href="/category/publications.html">Full list of publications.</a>
<hr/>
<article class="post-body">
<img src="/assets/img/publications/mixedlab/picture.png" class="post-featured">
<h3 class="post-title"><a href="/_posts/mixedlab">Embodied Learning with Mixed Reality for physics</a></h3>
Published at CMi Annual Meeting 2024.<br />
</article>
<article class="post-body">
<img src="/assets/img/publications/sefi/4combine.png" class="post-featured">
<h3 class="post-title"><a href="/_posts/SEFI2024">MixedLAB: Mixed Reality to Teach Students Experimental Knowledge in Microfabrication</a></h3>
Published in European Society for Engineering Education (SEFI 2024).
<br />
<!--
</article>
<article class="post-body">
<img src="/assets/img/publications/hsn_abstract.jpg" class="post-featured">
<h3 class="post-title"><a href="/hsn">CNNs on Surfaces using Rotation-Equivariant Features</a></h3>
Published in Transactions on Graphics (SIGGRAPH 2020).
</article>
-->