{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<nav id="sidebar-icon-links">

  <!-- Link to Github Profile -->
  {% if author.github %}
    <a id="github-link"
        class="icon" title="Github Profile" aria-label="Github Profile"
        href="github.com/{{ author.github }}">
        {% include svg/github.svg %}
    </a>
  {% endif %}

  <!-- Link to Google Scholar Profile -->
  {% if author.googlescholar %}
    <a id="google-scholar-link"
       class="icon" title="Google Scholar Profile" aria-label"Google Scholar Profile"
       href="scholar.google.com/citations?user={{ author.googlescholar }}">
      <i class="ai ai-google-scholar ai-fw"></i>
    </a>
  {% endif %}

	

  <!--
	<li>
		<a href="https://www.researchgate.net/profile/John_Hawkins19" itemprop="sameAs">
			<i class="ai ai-researchgate ai-fw"></i> ResearchGate
		</a>
	</li>
	
	<li>
		<a href="https://orcid.org/0000-0002-2943-9397" itemprop="sameAs">
			<i class="ai ai-orcid ai-fw"></i> ORCID
		</a>
	</li>
  -->


  <!-- Github feed?
  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
    {% include svg/feed.svg %}
  </a>
  -->

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  <!-- Tags, need to uncomment tags.html
  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}
  -->

  <!-- Search button, need to uncomment search.html
  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
  -->

  {% include custom-icon-links.html %}
</nav>
