<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>

<a href="/about">About</a> 
<a href="/category/news">News</a> 
<a href="/membership">Membership</a> 
<a href="/category/meetings">Meetings</a>
<a href="/category/events">Events</a>
<a href="/awards">Awards</a> 
<a href="/category/career">Career</a>
<a href="/board">Board</a> 
<a href="/code-of-conduct">Code of Conduct</a>
<a href="/contact">Contact</a>


  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>