<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}"
         href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.sidebar_link %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
               href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <nav class="sidebar-icon-links">
      <a class="sidebar-icon-link" title="Github Project"
         href="{{ site.github.repo }}">
        {% include svg/github.svg %}
        <span class="sr-only">Github Project</span>
      </a>
      <a class="sidebar-icon-link" title="Download"
         href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">
        {% include svg/download.svg %}
        <span class="sr-only">Download</span>
      </a>
      <a class="sidebar-icon-link" title="Subscribe"
         href="{{ site.baseurl }}/feed.xml">
        {% include svg/feed.svg %}
        <span class="sr-only">Subscribe</span>
      </a>
      <a class="sidebar-icon-link" title="Tags"
         href="{{ site.baseurl }}/tags">
        {% include svg/tags.svg %}
        <span class="sr-only">Tags</span>
      </a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
