{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<nav id="sidebar-icon-links">

  <!-- Link to Github Profile -->
  {% if author.github %}
    <a id="github-link"
        class="icon" title="Github Profile" aria-label="Github Profile"
        href="https://github.com/{{ author.github }}">
        {% include svg/github.svg %}
    </a>
  {% endif %}

  {% if author.bitbucket %}
    <a id="bitbucket-link"
       class="icon" title="Bitbucket Profile" aria-label"Bitbucket Profile"
       href="https://bitbucket.org/{{ author.bitbucket }}">
       <i class="fa fa-bitbucket fa-fw"></i>
    </a>
  {% endif %}

  {% if author.googlescholar %}
    <a id="google-scholar-link"
       class="icon" title="Google Scholar Profile" aria-label"Google Scholar Profile"
       href="https://scholar.google.com/citations?user={{ author.googlescholar }}">
      <i class="ai ai-google-scholar ai-fw"></i>
    </a>
  {% endif %}

  {% if author.linkedin %}
    <a id="linkedin-link"
       class="icon" title="LinkedIn Profile" aria-label"LinkedIn Profile"
       href="https://linkedin.com/in/{{ author.linkedin }}">
      <i class="ai ai-linkedin ai-fw"></i>
    </a>
  {% endif %}

  {% if author.researchgate %}
    <a id="researchgate-link"
       class="icon" title="Research Gate Profile" aria-label"Research Gate Profile"
       href="https://researchgate.net/profile/{{ author.researchgate }}">
      <i class="ai ai-researchgate ai-fw"></i>
    </a>
  {% endif %}

  {% if author.orcid %}
    <a id="orcid-link"
       class="icon" title="ORCID Profile" aria-label"ORCID Profile"
       href="https://orcid.org/{{ author.orcid }}">
      <i class="ai ai-orcid ai-fw"></i>
    </a>
  {% endif %}

  <!-- Github feed?
  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
    {% include svg/feed.svg %}
  </a>
  -->

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  <!-- Tags, need to uncomment tags.html
  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}
  -->

  <!-- Search button, need to uncomment search.html
  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
  -->

  {% include custom-icon-links.html %}
</nav>
