<div id="sidebar">
  <div style="height: 0px">

  </div>
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <img style="display:block;margin-left:auto;margin-right:auto;width:75%" src="/assets/images/logos/ISBA_logo-9_FINAL_transparentwhite-r.svg" alt="ISBA Society"/>
        <!-- {{ site.title }} -->
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead" style="font-size:17pt">{{ site.description }}</p>
  </header>

<a href="/about">About</a> 
<a href="/category/news">News</a> 
<a href="/join">Join</a> 
<a href="/meetings">Upcoming Meeting</a>
<a href="/pastmeetings">Past Meetings</a>
<a href="/category/events">Events</a>
<a href="/resources">Resources</a>
<a href="/affiliations-and-initiatives">Affiliates and Initiatives</a> 
<a href="/awards">Awards</a> 
<a href="/funding">Funding</a>
<a href="/board">Board</a> 
<a href="/code-of-conduct">Code of Conduct</a>
<a href="/contact">Contact</a>
<a href="/acknowledgements">Acknowledgements</a>

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
