<h2>Talks and presentations</h2>
<hr/>
<h4>6th April 2022, UChicago <a href="https://3dl.cs.uchicago.edu/" target="_blank">3DL group</a></h4>
Invited talk: <a href="/deltaconv">DeltaConv: Anisotropic Operators for Geometric Deep Learning on Point Clouds</a>
<hr/>
<h4>29th September 2021, Mathematics and Art symposium at DMV ÖMG Annual Conference 2021</h4>
Symposium talk: <a href="https://www.youtube.com/watch?v=qCk4thMuPVM&list=PLIQnnJvM8OOkdVa7p-uYbMs5OnR2Gcza-&index=6" target="_blank">Communicating Perspective in 17th Century Paintings to Modern Audiences</a>.
<hr/>
<h4>17th May 2021, Utrecht University</h4>
Lecture on applications of computer graphics to painting analysis for bachelor students in art history.</a>
<hr/>
<h4>27th September 2020, <a href="https://www.tudelft.nl/en/ide/research/research-labs/pi-lab" target="_blank">PI Lab TU Delft</a></h4>
Seminar talk: applications of computer graphics to painting analysis.
<hr/>
<h4>14th May 2020, Stanford Guibas Lab</h4>
Invited talk: <a href="/hsn">CNNs on Surfaces using Rotation-Equivariant Features</a>
<hr/>
<h4>July 2020, SIGGRAPH</h4>
Technical papers presentation: <a href="/hsn">CNNs on Surfaces using Rotation-Equivariant Features</a>