// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  padding-bottom: $section-spacing;
  border-bottom: 1px solid $border-color;
  margin-bottom: $section-spacing;

  li + li {
    margin-top: .25rem;
  }

  ~ * {
    padding-bottom: $section-spacing;
    border-bottom: 1px solid $border-color;
    margin-bottom: $section-spacing;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-meta {
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.post-tags a {
  font-size: 0.8em;
  margin-right: 0.5rem;
  white-space:nowrap;
  .tag-name { text-transform: capitalize; }

  opacity: 0.75;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.posts-by-tag h2 {
  text-transform: capitalize;
}

.posts-list {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
      white-space: nowrap;
    }

    a:hover {
      color: $link-color;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}

button.disqus-load {
  margin-top: 1em;
}