@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Montserrat:wght@600&display=swap');
html {
    font-size: 0.9em;
}
body {
    color: #000000;
    background: #EEEEEE;
    font-family: "Lora";
    font-size: 0.9em;
    line-height: 1.5;
    margin: 50px 0;
}
#resume {
    margin: 0 auto;
    max-width: 800px;
    padding: 100px 100px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 4px #AAAAAA;
    -webkit-box-shadow: 2px 2px 4px #AAAAAA;
}
h1 {
    font-size: 200%;
    margin: 0;
    padding: 0;
}
h2 {
    color: #2f2966;
    font-family: "Montserrat";
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-bottom: 1px dotted #2f2966;
    font-size: 100%;
    margin: 2em 0 0 0;
    padding: 0 0 5px;
}
h3 {
    color: #2f2966;
    font-family: "Montserrat";
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 100%;
    margin: 1.5em 0 0.3em 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
h4 {
    font-family: "Montserrat";
    margin-bottom: 0.5em;
}
p {
    margin: 0 0 0.5em 0;
    padding: 0;
    }
ul {
    display: block;
    padding: 0;
    margin: 0 1.5em;
    }
/* ul immediately after h1 = contact list */
h1 + ul {
    margin: 0 0 20px;
    padding: 0;
    }
h1 + ul > li {
    display: inline;
    white-space: pre;
    list-style-type: none;
}
h1 + ul > li:after { 
    content: " \2022 ";
}
h1 + ul > li:last-child:after {
    content: "";
}
/* p immediately after contact list = summary */
h1 + ul + p {
    margin: 1em 0;
}
@media print {
    body {
        font-size: 10pt;
        margin: 0;
        padding: 0;
        background: none;
    }
    #resume {
        margin: 0;
        padding: 0;
        border: 0px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    /* Make links black in PDF */
    /* Move this outside the print block to apply this in HTML too */
    a, a:link, a:visited, a:hover {
        color: #000000;
        text-decoration: underline;
    }
}
@page {
    /* Change margins and paper size of PDF */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
    size: letter;
    margin: 0.5in 0.8in;
}
@media screen and (max-width: 800px) {
    body {
        font-size: 16pt;
        margin: 0;
        padding: 0;
        background: #FFFFFF !important;
    }
    #resume {
        margin: 0;
        padding: 1em;
        border: 0px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}
