---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

//$sidebar-bg-color: white;
//$sidebar-fg-color: black;


@import "hydeout";

.white-fw{ 
    width: 1.28571429em;
    text-align: center;
    color: #FFFFFF;
}
