---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>

      {% if post.img %}
        <span style="white-space:nowrap">
            <img src="/assets/img/{{ post.img | relative_url }}" 
              style="width:300px;border:0;"
            >
            <h3>
              <a href="{{ post.url | relative_url }}" 
                 style="white-space:normal">
                  {{  post.title  }}
              </a>
            </h3>
        </span>
      {% else %}
        <h3>
          <a href="{{ post.url | relative_url }}">
              {{  post.title  }}
          </a>
        </h3>
      {% endif %}
    </li>
  {% endfor %}
</ul>
