---
layout: default
---

{{ content }}

<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>
  <style>


/* reset for out of date browsers */

    html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/* for index text */
.indextext {
 display: flex;
 position: absolute;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
 background-color: black;
 opacity: 85%;
 height: 25%;
 width: 100%;
 bottom: 0;
 /* text-align: center;
 margin: 10% 0 3% 10%; */
}

/* top text */
h1 {
  height: 85%;
  width: 100%;
  margin-bottom: auto;
  font-size: 3.5vw;
  word-break: break-word;
  color: white;
}

/* bottom text */
h5 {
  margin-top: auto;
  margin-bottom: 3vw;
  height: 100%;
  width: 100%;
  font-size: 2vw;
  word-break: break-all;
  color: white;
}

/* mobile version */

.index-container {
  display: block;
  position: absolute
  max-width: 1200px;
  margin-bottom: 3rem;
}

.indexgrid {
  display: flex;
  position: relative;
  bottom: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
  text-align: center;
}

.indexcell {
  width: 100%;
  margin: 0 10px 25px;
  padding: 0;
  text-align: center;
  position: relative;
}

/* tablet version */

@media screen and (min-width: 600px) {

  /* .index-container {
    display: block;
    position: absolute
    max-width: 1200px;
    margin-top: 2rem;
  }

  .indexcell {
    width: 100%;
    margin: 0 10px 25px;
    padding: 0;
    text-align: center;
    position: relative;
  }

  .indexgrid {
    display: flex;
    position: relative;
    bottom: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    text-align: center;
  }

    /* for index text */
    .indextext {
     display: flex;
     position: absolute;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     background-color: black;
     opacity: 85%;
     height: 25%;
     width: 100%;
     bottom: 0;
     padding: 0 0 3px;
     /* text-align: center;
     margin: 10% 0 3% 10%; */
    }

    /* top text */
    h1 {
      height: 85%;
      width: 100%;
      margin-top: 5px;
      margin-bottom: auto;
      font-size: min(32px,3.5vw);
      word-break: break-word;
      color: white;
    }

    /* bottom text */
    h5 {
      margin-top: auto;
      margin-bottom: auto;
      height: 100%;
      width: 100%;
      font-size: min(16px,2vw);
      word-break: break-all;
      color: white;
    } */
}


/* desktop version */

@media screen and (min-width: 1025px) {


    .index-container {
      max-width: 1200px;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

      .indexcell {
        width: calc(50% - 2rem);
        margin: 0 10px 25px;
        text-align: center;
      }

      .indexgrid {
        display: flex;
        flex-wrap: nowrap;
        width: 58vw;
        text-align: center;
        position: relative;
      }

  /* for index text */
  .indextext {
   display: flex;
   position: absolute;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   background-color: black;
   opacity: 85%;
   height: 25%;
   width: 100%;
   bottom: 0;
   /* text-align: center;
   margin: 10% 0 3% 10%; */
  }

  /* top text */
  h1 {
    height: 85%;
    width: 100%;
    font-size: 2.2vw;
    word-break: break-word;
    color: white;
  }

  /* bottom text */
  h5 {
    margin-top: auto;
    margin-bottom: 3%;
    height: 100%;
    width: 100%;
    font-size: 1vw;
    word-break: break-all;
    color: white;
  }

}

</style>
</body>
