---
layout: page
---
{% unless page.content == '' %}
  {{ content }}
{% endunless %}
  <br />
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
  <article class="post-body">
    {% if post.img %}
    <img src="{{ post.img }}" class="post-featured">
    {% endif %}
    <small>{{ post.date | date: "%B %Y" }}</small><br />
    <h3 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h3>
    <div class="post-meta">
      <span class="post-type">{{ post.type }}</span> by <span class="post-authors">{{ post.authors }}</span> at {{ post.venue }}
    </div>
  </article>
  {% endfor %}
