---
layout: default
---

<header>
  <h1 class="post-title">
    {{ page.title }}
  </h1>
  <span class="post-type">{{ page.type }}</span><br />
  <span class="post-authors">{{ page.authors }}</span>
</header>
<div class="content">

  <div class="post-body">
    {% include post-tags.html post=page %}

    <h4 class="abstract-title">Abstract</h4>
    {{ page.abstract }}

    {% if page.venue %}
    <h4>Venue</h4>
    {{ page.venue }}
    {% endif %}

    {% if page.doi or page.link_pdf or page.link_code %}
        <h4>Links</h4>
        {% if page.link %}
        <a href="https://doi.org/{{ page.doi }}">[DOI]</a>
        {% endif %}
        {% if page.pdf %}
        <a href="{{ page.link_pdf }}">[PDF]</a>
        {% endif %}
        {% if page.code %}
        <a href="{{ page.link_code }}">[code]</a>
        {% endif %}
    {% endif %}

    {% if page.bib %}
    <h4>Cite</h4>
    <code>{{ page.bib }}</code>
    {% endif %}

  </div>
</div>
